---
import GitHubSvg from "../svgs/GitHubSvg.astro"
import LinkedIn from "../svgs/LinkedIn.astro"
import GmailSvg from "../svgs/GmailSvg.astro"
import HighlightText from "../HighlightText.astro"
// import { ThemeSwitch } from "astro-color-scheme"
const socialMedias = [
  {
    icon: GitHubSvg,
    href: "https://github.com/cjtim",
  },
  {
    icon: LinkedIn,
    href: "https://www.linkedin.com/in/tim-jinna/",
  },
  {
    icon: GmailSvg,
    href: "mailto:jinnatim@gmail.com",
  },
]
const navbars = [
  {
    label: "Tim Jinna",
    href: "/",
  },
  {
    label: "Projects",
    href: "/projects",
  },
]
const colors = {
  active: "text-white",
  inActive: "text-gray-300",
}
---

<nav class="container mx-auto">
  <div class="flex gap-2" id="btnBar">
    <div class="mr-auto">
      {
        navbars.map((i, idx) => (
          <a
            href={i.href}
            onclick={`highlightBtn(${idx})`}
          >
            <button
              id={`navbar-${idx}`}
              class:list={[
                `${colors.inActive}`,
                `hover:opacity-70`,
                `m-4`,
              ]}
            >
              <HighlightText
                class={
                  idx === 0
                    ? "text-2xl font-bold"
                    : "text-md font-medium"
                }
              >
                {i.label}
              </HighlightText>
            </button>
          </a>
        ))
      }
    </div>
    <div
      class="flex flex-wrap items-center gap-4 mx-4"
    >
      {
        socialMedias.map((item) => (
          <a
            class={`h-8 w-8 fill-white hover:opacity-70`}
            href={item.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={item.href}
          >
            <item.icon />
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script
  type="text/javascript"
  define:vars={{ colors }}
>
  function highlightBtn(index) {
    const elements =
      document.querySelectorAll(
        "[id^=navbar]",
      )
    for (
      let i = 0;
      i < elements.length;
      i++
    ) {
      if (i == index) {
        elements[i].classList.remove(
          colors.inActive,
        )
        elements[i].classList.add(
          color.active,
        )
      } else {
        elements[i].classList.add(
          colors.inActive,
        )
        elements[i].classList.remove(
          color.active,
        )
      }
    }

    console.log(
      document.location.pathname,
    )
  }

  const curretBtn =
    document.querySelector(
      `a[href="${document.location.pathname
        .split("/")
        .slice(0, 2)
        .join("/")}"] > button`,
    )
  if (curretBtn) {
    curretBtn.classList.add(
      colors.active,
    )
    curretBtn.classList.remove(
      colors.inActive,
    )
  }
</script>
