---
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
import ButtonCenter from "src/components/ButtonCenter.astro"
import Breadcrumb from "src/components/Breadcrumb.astro"

export async function getStaticPaths() {
  const blogEntries =
    await getCollection("projects")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  image={entry.data.image.url}
>
  <main
    class="w-full bg-gray-100 text-black"
  >
    <div
      class="relative z-0 mx-auto aspect-video max-w-screen-md overflow-hidden lg:rounded-lg"
    >
      <div class="py-4">
        <Breadcrumb
          items={[
            {
              title: "Home",
              href: "/",
            },
            {
              title: "Projects",
              href: "/projects",
            },
            {
              title: entry.data.title,
              href: `/projects/${entry.slug}`,
            },
          ]}
        />
      </div>
      {
        entry.data.image?.url && (
          <img
            src={entry.data.image?.url}
            alt="Thumbnail"
            loading={"lazy"}
            class="h-full w-full rounded-2xl object-cover"
          />
        )
      }
    </div>
    <article
      class="mx-auto max-w-screen-md"
    >
      <div
        class="prose prose-base mx-auto my-3
        max-w-screen-md dark:prose-invert prose-a:text-blue-600"
      >
        <Content />

        <!-- Tags -->
        <div
          class="flex w-full flex-wrap items-center gap-3 md:w-auto"
        >
          {
            entry.data.tags.map(
              (tag) => (
                <span class="text-sm text-gray-500">
                  #{tag}
                </span>
              ),
            )
          }
        </div>
      </div>

      <div
        class="flex justify-center pb-7 pt-7"
      >
        <ButtonCenter
          text="â† View all projects"
          href="/projects"
        />
      </div>
    </article>
  </main>
</Layout>
